<body scroll="no" style="overflow: hidden">

<div class="container">

      <h1 id="header">Primal Zodiac App</h1>

    <h3>Welcome to IceTea™ Primal Zodiac index!</h3>
    <br />
    <h3>Enter your details below to find your primal zodiac animal nature!</h3>
    <br />

    <div class="inputClass">
      <form class='form' action='/' method='post'>
        <label for='name' class='form-item'>
          Name:
          <input class="form-control input-lg" type="text" name='name' placeholder="eg. Jane Doe" value='' />
        </label>
        <br>
        <label for='year' class='form-item'>
          Birth Year:
          <input class="form-control input-lg" type="text" name='year' placeholder="eg. 1999" value='' />
        </label>
        <br>
          <label for='month' class='form-item'>
          Birth Day:
          <input class="form-control input-lg" type="text" name='month' placeholder="eg. 17" value='' />
        </label>
        <br>    
       <label for='day' class='form-item'>
          Birth Month:
          <input class="form-control input-lg" type="text" name='day' placeholder="eg. 9" value='' />
        </label>
        <br><br>
        <button type="submit" value='submit' class="button">Submit</button>
      </form>
    </div>
</div>
