<div class='userInstruction'>
  <h1>Primal Zodiac</h1>
  <p>Welcome to IceTea™ Primal Zodiac index!</p>

  <br />
  <p>Enter your details below to find your primal zodiac animal nature!</p>
  <br />
</div>
<div class='inputs'>
  <form class='form' action='/' method='post'>
    <label for='name' class='form-item'>
      Name:
      <input type='text' name='name' value='' />
    </label>

    <label for='year' class='form-item'>
      Birth Year:
      <input type='text' name='year' value='' />
    </label>

    <label for='month' class='form-item'>
      Birth Day:
      <input type='text' name='month' value='' />
    </label>

    <label for='day' class='form-item'>
      Birth Month:
      <input type='text' name='day' value='' />
    </label>

    <input type='submit' name='' value='submit' />

  </form>
</div>