<div class='userInstruction'>
  <h1>Primal Zodiac</h1>
  <p></p>
</div>
<div class='inputs'>
  <form class='form' action='/' method='post'>
    <label for='name' class='form-item'>
      Name:
      <input type='text' name='name' value='{{name}}' />
    </label>

    <label for='year' class='form-item'>
      Birth Year:
      <input type='text' year='year' value='{{year}}' />
    </label>

    <label for='month' class='form-item'>
      Birth Month:
      <input type='text' month='month' value='{{month}}' />
    </label>

    <label for='day' class='form-item'>
      Birth Day:
      <input type='text' day='day' value='{{day}}' />
    </label>

    <input type='submit' name='' value='submit' />

  </form>
</div>