
<div class="container">

      <h1 id="header">Primal Zodiac App - Project Platypus</h1>

    <h3>Welcome to IceTea™ Primal Zodiac index!</h3>
    <br />
    <h3>Enter your details below to find your primal zodiac animal nature!</h3>
    <br />

    <div class='inputs'>
      <form class='form' action='/' method='post'>
        <label for='name' class='form-item'>
          Name:
          <input class="form-control" type="text"aria-label="default input example" name='name' value='' />
        </label>
        <br>
        <label for='year' class='form-item'>
          Birth Year:
          <input class="form-control" type="text"aria-label="default input example" name='year' value='' />
        </label>
        <br>
        <label for='month' class='form-item'>
          Birth Month:
          <input class="form-control" type="text"aria-label="default input example"name='month' value='' />
        </label>
        <br>    
        <label for='day' class='form-item'>
          Birth Day:
          <input class="form-control" type="text"aria-label="default input example" name='day' value='' />
        </label>
        <br><br>
        <button type="submit" value='submit' class="button">Submit</button>
        {{!-- btn btn-lg btn-outline-Dark  --}}
      </form>
    </div>
</div>
