<h1>Hi {{name}}<h1>

    <div class="block">
      <h2>Your Primal Zodiac is {{primalZodiac}}
  </h1>
  </div>

  <figure class="image is-128x128">
    <img class="is-rounded" src='{{imgPath}}' />
  </figure>
  <div class="block">
    <p>{{description}}</p>
  </div>
  <br>


  <a href='/'><button class="button is-normal is-responsive is-rounded is-black">
      Return to Home
    </button></a>