<div class="result">
  <h1>Hi {{name}}</h1>
  <h2>Your Primal Zodiac is a {{primalZodiac}}</h2>
</div>
  <br>

<img class="is-rounded image " src='{{imgPath}}' />
  <br>
  <div class="textContainer">
    <strong><p>{{description}}</p></strong>
  </div>
  <br>

  <a href='/'><button class="button">
      Return Home
    </button></a>

    {{!-- TODO: MAKE IMAGE AND RESULT BOX RESPONSIVE --}}