
<h1>Hi {{name}}<h1>

<div class="block">
<h2>Your Primal Zodiac is {{primalZodiac}}</h1>
</div>

<figure class="image is-128x128">
<img class="is-rounded" src='{{imgPath}}' />
</figure>
<div class="block">
<p>{{description}}</p>
</div>

<a href='/'><button>Home</button></a>

