* {
  color:white
}

body {
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;   background-size: cover;
  background-image: url(/images/pretty.gif);
  height: 100%;
  padding:0;
  margin:0;
}

p {
  padding-top: 20px;
  font-size: 1.7vh;
}
h3 {
font-size: 40px; ;
}

input {
  height: 50px;
  font-size: 1.7vh;
}

 #header{
  font-size: 110px;
}

.inputClass {
  width: 30%;
  height: 40%;
}

.container {
  margin: 25px;
  width: 350px;
  height: 1350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textContainer {
  width: 1000px; 
  margin: 0 auto;
  border-radius: 2%;
  backdrop-filter: blur(60px); 
  border-color: #343a40;
  border: 1px solid #343a40;
  color: black;
}
.textContainer:hover {
  color: white;
}

.image {
  height: 550px;
  width: 600px;
  border-radius: 50%;
  margin-bottom: 25px;
}

.form {
  font-size: 20px;
  padding: 20px 20px 0px 20px;
}

.result {
  padding-top:50px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 2.2rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  background-color: transparent;
  background-image: none;
  color: white;
  margin-bottom: 80px;
}

.button:hover {
  text-decoration: underline white;
  backdrop-filter: blur(60px); 
}

.button:focus {
  transition: .3s;
  border-color:dodgerblue;
  box-shadow: 0 0 8px 0 dodgerblue;
}


@media (max-width: 480px) {
  body {
    background-image: url(images/pretty.gif);
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  body {
    background-image: url(images/pretty.gif);
  }
}

@media (min-width: 1025px) {
  body {
    background-image: url(images//pretty.gif);
	}
}
